<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.crossbow.app.x_timer">

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_main"
        android:label="@string/app_name"
        tools:replace="android:icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleInstance">
        </activity>

        <activity
            android:name=".add_app.AddAppActivity"
            android:label="选择你想要监听的应用"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode='singleTask'>
        </activity>

        <activity
            android:name=".detail.day_detail.DayDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".detail.app_detail.AppDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".cloud.CloudActivity"
            android:label="注册/登陆"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".timer.TimerActivity"
            android:label="为应用设置定时提醒"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode='singleTask'>
        </activity>

        <service android:name=".service.TickTrackerService"/>

        <receiver android:name=".boot.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
